albumentations==1.3.1
comet_ml==3.33.9
coremltools==6.3.0
deepface==0.0.79
Flask==2.3.2
GitPython==3.1.32
GitPython==3.1.32
ipython==8.14.0
matplotlib==3.7.2
mss==9.0.1
nncf==2.5.0
numpy==1.24.3
onnx==1.14.0
onnxruntime==1.15.1
onnxsim==0.4.33
opencv_python==4.8.0.76
openvino==2023.0.1
paddle==1.0.2
pafy==0.5.5
pandas==2.0.3
Pillow==10.0.0
Pillow==10.0.0
psutil==5.9.5
pytesseract==0.3.10
PyYAML==6.0.1
PyYAML==6.0.1
pyzbar==0.1.9
Requests==2.31.0
scipy==1.11.2
seaborn==0.12.2
setuptools==58.1.0
setuptools==65.5.1
tensorflow==2.13.0
tensorflow_intel==2.13.0
tensorflowjs==4.10.0
tensorrt==8.6.1
tflite_runtime==2.13.0
tflite_support==0.4.4
thop==0.1.1.post2209072238
torch==2.0.1
torchvision==0.15.2
tqdm==4.66.1
tritonclient==2.36.0
ultralytics==8.0.157
x2paddle==1.4.1
